body{
  font-family: Arial;
  color: #333;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
}

a{
  color: #009acd;
  text-decoration: none;
}

a:hover{
  color: #333;
}

.container{
  width: 960px;
  margin: auto;
  overflow: auto;
}

header{
  
}
